<mat-card class="example-card">
    <mat-card-title><h1>Typing Challenge</h1> </mat-card-title>

    <mat-card-content>
        <p>
            <Span  [class]="compare(letter, inputText[i])" *ngFor="let letter of rendomText.split(''); let i = index"
                >{{ letter }}</Span
            >
        </p>
    </mat-card-content>
    <div>
        <!-- <input placeholder="Start Typing" [formControl]="text"  /> -->
        <input placeholder="Start Typing" (input)="onInput($event)" />
    </div>
    <mat-card-content *ngIf="rendomText === inputText">
        <h2>You win</h2>
    </mat-card-content>
</mat-card>
